
@{
    Layout = null;
}


<form asp-controller="Checkout" asp-action="Index" id="payment-form" name="form" class="ui form fluid" style="padding:10px;">

    <input type="hidden" name="Is3D" />

    <h4 class="ui horizontal divider header">
        <span style="text-decoration: underline; color: black" class="tab">Sipariş Bilgileri</span>
    </h4>

    <div class="two fields">
        <div class="field">
            <input class="cvc half" name="Amount" placeholder="Miktar" required>
        </div>
        <div class="field">
            <input class="cvc half" name="OrderId" placeholder="Sipariş No" required>
        </div>
    </div>

    <h4 class="ui horizontal divider header">
        <span style="text-decoration: underline; color: black" class="tab">Ödeme Bilgileri</span>
    </h4>

    <div class="card-js" data-stripe="true">

        <input class="name" id="the-card-name-id" name="CardholderName" placeholder="Kart Sahibinin Adı" required>
        <input class="card-number my-custom-class" name="card-number" id="CardNumber" placeholder="Kart Numarası" required>
        <input class="expiry-month" name="ExpireMonth" required>
        <input class="expiry-year" name="ExpireYear" required>
        <input class="cvc" name="CardCode" placeholder="Güvenlik Kodu (CVV)" required>
    </div>

    <div class="recurring">
        <input id="recurringPayment" name="is_recurring_payment" type="checkbox">
        <label>Recurring payment</label>

        <div id="recurringArea" class="three fields" style="display:none;">
            <div class="field">
                <input type="number" name="recurring_payment_number" placeholder="Toplam Ödeme Sayısı">
            </div>
            <div class="field">
                <select name="recurring_payment_cycle" id="recurring_payment_cycle">
                    <option value="">Ödeme Tekrarlama Periyodu</option>
                    <option value="D">Günlük</option>
                    <option value="M">Aylık</option>
                    <option value="Y">Yıllık</option>
                </select>
            </div>
            <div class="field">
                <input type="number" name="recurring_payment_interval" placeholder="Ödeme Sıklık Sayısı">
            </div>
        </div>
    </div>

    <h4 class="ui horizontal divider header">
        <a href="javascript:return false;" style="text-decoration: underline; color: black" class="tab" id="installment-link">Taksit Seçenekleri</a>
    </h4>

    <div id="installmentTable" class="installmentTable">
        <table cellpadding="0" cellspacing="0" style="width: 380px;border: solid 1px #CCCCCC;margin: 10px auto 20px auto;">
            <thead>
                <tr>
                    <td align="center" style="border-top: solid 1px #CCCCCC;border-right: solid 1px #CCCCCC; width: 80px; height:28px;">
                        <span style="padding:3px;font-weight: bold;color: black;">Taksit Sayısı</span>
                    </td>

                    <td align="center" style="border-top: solid 1px #CCCCCC; width: 80px; height:28px;">
                        <span style="padding:3px;font-weight: bold;color: black;">Toplam</span>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                </tr>
            </tbody>
        </table>

        <input type="hidden" name="SelectedPosData" />
    </div>

    <div class="ui center aligned segment">
        <button class="ui button" name="paymentButton" type="submit" style="background-color: #0094b1; color: #ffffff; width: 60%;
          margin-left: 0;">
            ÖDEMEYİ TAMAMLA
        </button>
    </div>
    <div style="clear:both;"></div>
</form>
